.Quiz {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FDF4F3;
    border-radius: 10%;
    box-shadow: 0 0.5rem 0.5rem rgba(202, 198, 198, 0.565);
}
.Quiz .solution {
    filter: blur(3px);
  }
.Quiz .solution:hover {
    filter: blur(0px);
    transition: all 0.5s ease-in-out;
  }

  .Quiz h1 {
    justify-self: flex-start;
  }
